@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mistral');

h1,
a {
  margin: 0;
  font-family: "Poppins", sans-serif;

}

#hero-title {
  font-family: 'Mistral', sans-serif;

}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.hide-scroll {
  overflow: hidden;
}